
@{
    ViewBag.Title = "_TeamMembers";
}

<div class="container_wrapper fix" style="background: #E1E9EE">
    <div class="container_fixed fix">
        @*<div class="team_header">
                <h1>Our Team</h1>
            </div>*@
        <div class="team_wrapper fix">
            <div class="team_details fix">
                <h2>
                    The People Behind The IEEE PUCB
                </h2>
                <p style="margin-top: 20px; font-size: 19px;">
                    <strong>We believe it's time to change the way people lives</strong>
                </p>
                <p style="line-height: 30px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>

            <div class="team_slides fix">
                <div class="team_members_wrapper fix">
                    <div class="team_imgBox">
                        <img src="~/Images/team/Rony_Chowdhury.bmp" />
                    </div>
                    <div class="team_member_details">
                        <h2>Rony Chowdhury</h2>
                        <h4>Chair</h4>
                        @*<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>*@
                    </div>
                </div>
            </div>

            <div class="team_slides fix">
                <div class="team_members_wrapper fix">
                    <div class="team_imgBox">
                        <img src="~/Images/team/Kazi_omar_faruk.jpg" />
                    </div>
                    <div class="team_member_details">
                        <h2>Kazi Omar Faruk</h2>
                        <h4>Vice chair</h4>

                    </div>
                </div>
            </div>

            <div class="team_slides fix">
                <div class="team_members_wrapper fix">
                    <div class="team_imgBox">
                        <img src="~/Images/team/Mahfuzur_Rahman.jpg" />
                    </div>
                    <div class="team_member_details">
                        <h2>Mahfuzur Rahman</h2>
                        <h4>Executive Member</h4>

                    </div>
                </div>
            </div>

            <div class="team_slides fix">
                <div class="team_members_wrapper fix">
                    <div class="team_imgBox">
                        <img src="~/Images/team/Ali-al_akram.jpg" />
                    </div>
                    <div class="team_member_details">
                        <h2>Ali Al Akram</h2>
                        <h4>Executive Member</h4>

                    </div>
                </div>
            </div>

            <div class="team_slides fix">
                <div class="team_members_wrapper fix">
                    <div class="team_imgBox">
                        <img src="~/Images/team/Sara_Azmin.jpg" />
                    </div>
                    <div class="team_member_details">
                        <h2>Sara Azmin</h2>
                        <h4>Publication Event Coordinator</h4>

                    </div>
                </div>
            </div>
            <div class="team_slides fix">
                <div class="team_members_wrapper fix">
                    <div class="team_imgBox">
                        <img src="~/Images/team/Nadia_Tabassum.JPG" />
                    </div>
                    <div class="team_member_details">
                        <h2>Nadia Tabassum</h2>
                        <h4>Event Coordinator</h4>

                    </div>
                </div>
            </div>


            <div class="team_slides fix">
                <div class="team_members_wrapper fix">
                    <div class="team_imgBox">
                        <img src="~/Images/team/Sadman_Rizwan.jpg" />
                    </div>
                    <div class="team_member_details">
                        <h2>Sadman Rizwan</h2>
                        <h4>General Secretary</h4>

                    </div>
                </div>
            </div>

            <div class="team_slides fix">
                <div class="team_members_wrapper fix">
                    <div class="team_imgBox">
                        <img src="~/Images/team/Tanjil.jpg" />
                    </div>
                    <div class="team_member_details">
                        <h2>Md Monjur Morshed Tanjil</h2>
                        <h4>Joint Secretary</h4>
                    </div>
                </div>
            </div>

            <div class="team_slides fix">
                <div class="team_members_wrapper fix">
                    <div class="team_imgBox">
                        <img src="~/Images/team/Shimul_Chakraborty.jpg" />
                    </div>
                    <div class="team_member_details">
                        <h2>Shimul Chakraborty</h2>
                        <h4>Additional Event Coordinator</h4>
                    </div>
                </div>
            </div>

            <div class="team_slides fix">
                <div class="team_members_wrapper fix">
                    <div class="team_imgBox">
                        <img src="~/Images/team/Abir.jpg" />
                    </div>
                    <div class="team_member_details">
                        <h2>Abir Das</h2>
                        <h4>Additional Publication Coordinator</h4>

                    </div>
                </div>
            </div>

            <div class="team_slides fix">
                <div class="team_members_wrapper fix">
                    <div class="team_imgBox">
                        <img src="~/Images/team/Subrata_Das.JPG" />
                    </div>
                    <div class="team_member_details">
                        <h2>Subrata Das</h2>
                        <h4>Treasurer</h4>

                    </div>
                </div>
            </div>


            <div class="page_indicator">
                <span onclick="currentSlide(1)" class="bullet slide_active"></span>
                <span onclick="currentSlide(2)" class="bullet"></span>
                <span onclick="currentSlide(3)" class="bullet"></span>
                <span onclick="currentSlide(4)" class="bullet"></span>
                <span onclick="currentSlide(5)" class="bullet"></span>
                <span onclick="currentSlide(6)" class="bullet"></span>
                <span onclick="currentSlide(7)" class="bullet"></span>
                <span onclick="currentSlide(8)" class="bullet"></span>
                <span onclick="currentSlide(9)" class="bullet"></span>
                <span onclick="currentSlide(10)" class="bullet"></span>
                <span onclick="currentSlide(11)" class="bullet"></span>
                @*<span onclick="currentSlide(12)" class="bullet"></span>*@
            </div>
        </div>
    </div>

</div>


<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("team_slides");
        var dots = document.getElementsByClassName("bullet");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" slide_active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " slide_active";
    }
</script>


