
@{
    ViewBag.Title = "IEEE Membership";
}

<div class="container_wrapper" style="background: #F4F4F4; ">
    <div class="container_fixed fix">
        <div class="membership_wrapper fix">
            <h3>Membership Benefits</h3>
            <div class="memberships fix">

                <div class="membership_benefits fix">
                    <img src="~/Images/ImgBenifits/ieeTV.JPG" />
                    <h4>IEEE.TV</h4>
                    <div class="details">
                        <p>Engineering is the creative application of scientific principles to design and develop.</p>
                        <a href="" class="btn_websites">Ieee.TV</a>
                    </div>
                </div>

                <div class="membership_benefits fix">
                    <img src="~/Images/ImgBenifits/ieeSpectrum.jpg" />
                    <h4>ieee spectrum</h4>
                    <div class="details">
                        <p>Engineering is the creative application of scientific principles to design and develop. It is broader than writing a code or designing a circuit. To design and develop.</p>
                        <a href="" class="btn_websites">Ieee spectrum</a>
                    </div>
                </div>

                <div class="membership_benefits fix">
                    <img src="~/Images/ImgBenifits/IeeeExplore.jpg" />
                    <h4>Ieee Explore</h4>
                    <div class="details">
                        <p>Engineering is the creative application of scientific principles to design and develop. It is broader than writing a code or designing a circuit. To design and develop. It is broader than writing a code or designing a circuit.</p>
                        <a href="" class="btn_websites">Ieee Explore</a>
                    </div>
                </div>
                <div class="membership_benefits fix">
                    <img src="~/Images/ImgBenifits/IeeePotentialMagazine.JPG" />
                    <h4>Ieee Potential</h4>
                    <div class="details">
                        <p>Engineering is the creative application of scientific principles to design and develop. It is broader than writing a code or designing a circuit. To design and develop. It is broader than writing a code or designing a circuit.</p>
                        <a href="" class="btn_websites">Ieee Potential</a>
                    </div>
                </div>

                <div class="membership_benefits fix">
                    <img src="~/Images/ImgBenifits/ieeeTheInstitute.JPG" />
                    <h4>The Institutes</h4>
                    <div class="details">
                        <p>Engineering is the creative application of scientific principles to design and develop. It is broader than writing a code or designing a circuit. To design and develop. It is broader than writing a code or designing a circuit.</p>
                        <a href="" class="btn_websites">Ieee The Institutes</a>
                    </div>
                </div>

                <div class="membership_benefits fix">
                    <img src="~/Images/ImgBenifits/ieeejobSide.JPG"/>
                    <h4>IEEE Jobs</h4>
                    <div class="details">
                        <p>Engineering is the creative application of scientific principles to design and develop. It is broader than writing a code or designing a circuit. To design and develop. It is broader than writing a code or designing a circuit.</p>
                        <a href="" class="btn_websites">IEEE Jobs</a>
                    </div>
                </div>


                <div class="membership_benefits fix">
                    <img src="~/Images/ImgBenifits/IeeePotentialMagazine.JPG" />
                    <h4>Ieee Potential</h4>
                    <div class="details">
                        <p>Engineering is the creative application of scientific principles to design and develop. It is broader than writing a code or designing a circuit. To design and develop. It is broader than writing a code or designing a circuit.</p>
                        <a href="" class="btn_websites">Ieee Potential</a>
                    </div>
                </div>

                <div class="membership_benefits fix">
                    <img src="~/Images/ImgBenifits/ieeeTheInstitute.JPG" />
                    <h4>The Institutes</h4>
                    <div class="details">
                        <p>Engineering is the creative application of scientific principles to design and develop. It is broader than writing a code or designing a circuit. To design and develop. It is broader than writing a code or designing a circuit.</p>
                        <a href="" class="btn_websites">Ieee The Institutes</a>
                    </div>
                </div>

                <div class="membership_benefits fix">
                    <img src="~/Images/ImgBenifits/ieeejobSide.JPG" />
                    <h4>IEEE Jobs</h4>
                    <div class="details">
                        <p>Engineering is the creative application of scientific principles to design and develop. It is broader than writing a code or designing a circuit. To design and develop. It is broader than writing a code or designing a circuit.</p>
                        <a href="" class="btn_websites">IEEE Jobs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

