
@{
    ViewBag.Title = "IEEE Region 10";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div class="container_wrapper fix" style="border-bottom: 20px solid #006FB1">
    <div class="container_fixed fix">
        <div class="about_ieee_all fix">
            <div class="about_logo about_region_ten_logo float_left">
                <img src="~/Images/rgnTen.jpg" />
            </div>
            <div class="about_main_details float_right">
                <p>The 2018 IEEE Region 10 Conference (TENCON) will be held at Jeju Island, Korea on 28-31 October 2018. IEEE TENCON is a premier international technical conference of IEEE Region 10, which comprises 58 Sections, 6 councils, 29 subsections, 663 chapters, and 1,431 student branches in the Asia Pacific region. </p>
            </div>
        </div>

        <div class="about_details fix">
            <h2>IEEE Region 10</h2>
            <p>
                The IEEE Region 10, also sometimes referred as the Asia Pacific Region, comprises of 58 Sections, 6 Councils, 30 Sub-sections, 663 Chapters, 60+ Affinity Groups and 1431 Student Branches. It covers a geographical area stretching from South Korea and Japan in the north-east to New Zealand in the south, and Pakistan in the west. With a membership of 113,608+, it is one of the largest regions in IEEE. For more info, visit the website.
                <br/>
            </p>

            <a href="#" class="about_related_website">IEEE Region 10 Website &raquo;</a>
        </div>
    </div>
</div>

@*<div class="container_wrapper fix section1" style="">
    <div class="container_fixed fix">
        <div class="fix moving_bg_img">
            <h2>More informations</h2>
            <p>Being a trademark in both membership development and organizing professional and technical activities, on 1st December, 2018.Being a trademark in both membership development and organizing professional and technical activities, on 1st December, 2018.</p>
        </div>
    </div>
</div>*@

