@{
    ViewBag.Title = "About Ieee";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="container_wrapper fix" style="border-bottom: 20px solid #006FB1;">
    <div class="container_fixed fix">
        <div class="about_ieee_all fix">
            <div class="about_logo float_left">
                <img src="~/Images/ieee_logo1.jpg" style="height: 160px"/>
            </div>
            <div class="about_main_details float_right">
                <p>IEEE membership offers access to technical innovation, cutting-edge information, networking opportunities, and exclusive member benefits. Members support IEEE's mission to advance technology for humanity and the profession, while memberships build a platform to introduce careers in technology to students around the world. </p>
            </div>
        </div>

        <div class="about_details fix">
            <h2>IEEE Advancing Technology For Humanity</h2>
            <p>
                IEEE is the world's largest technical professional organization dedicated to advancing technology for the benefit of humanity. IEEE and its members inspire a global community to innovate for a better tomorrow through its highly-cited publications, conferences, technology standards, and professional and educational activities. IEEE is the trusted “voice” for engineering, computing and technology information around the globe.
                <br/>
                <br/>
                There are more than 420,000 IEEE members in more than 160 countries. IEEE publishes a third of the world’s technical literature in electrical engineering, computer science and electronics and is a leading developer of international standards that underpin many of today's telecommunications, information technology and power generation products and services. To learn more, visit our website.
            </p>
        </div>
    </div>
</div>