
@{
    ViewBag.Title = "Ieee Bangladesh Section";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div class="container_wrapper fix" style="border-bottom: 20px solid #006FB1">
    <div class="container_fixed fix">
        <div class="about_ieee_all fix">
            <div class="about_logo about_region_ten_logo float_left">
                <img src="~/Images/banSection.jpg" />
            </div>
            <div class="about_main_details float_right">
                <p>IEEE Bangladesh Section mission is to spread IEEE Activities to all corners of the country by educational and technical activities, human networking, and to develop technology and its applications for humanitarian challenges. </p>
            </div>
        </div>

        <div class="about_details fix">
            <h2>IEEE Bangladesh Section</h2>
            <p>IEEE Bangladesh Section was formed in November 1993 with 54 members. Since then, the membership has been growing steadily. Presently the section has the 9 chapters and 2 affinity groups, namely, Women in Engineering and Young Professionals. The Section has been actively organizing seminars, workshops and short courses on different topics of electrical, electronic, communication and computer engineering. Both the academic and industrial speakers from different countries delivered lectures in those programs. The Section first initiated a National Conference on Electrotechnology in 1995 (ET95) which eventually turned into a Biennial conference entitled International Conference on Electrical and Computer Engineering (ICECE) since 2001. The Section has been technical co-sponsor of ICECE organized by the EEE Department of BUET. The Section is also a technical co-sponsor of International Conference on Computers and Information Technology (ICCIT). Both the conferences are regular events in Bangladesh participated by a large number of foreign and local technical communities. To learn more, visit the website through the link below.
            </p>

            <a href="#" class="about_related_website">IEEE Bangladesh Section &raquo;</a>
        </div>
    </div>
</div>

<div class="container_wrapper fix section1" style="">
    <div class="container_fixed fix">
        <div class="fix moving_bg_img">
            <h2>More informations</h2>
            <p>Being a trademark in both membership development and organizing professional and technical activities, on 1st December, 2018.Being a trademark in both membership development and organizing professional and technical activities, on 1st December, 2018.</p>
        </div>
    </div>
</div>

