
@{
    ViewBag.Title = "PUB Student Branch";
    Layout = "~/Views/Shared/_Index.cshtml";
}


<div class="container_wrapper fix" style="border-bottom: 20px solid #006FB1">
    <div class="container_fixed fix">
        <div class="about_ieee_all fix">
            <div class="about_logo about_region_ten_logo float_left">
                <img src="~/Images/bg6.jpg" />
            </div>
            <div class="about_main_details float_right">
                <p>Some Article About Us...</p>
            </div>
        </div>

        <div class="about_details fix">
            <h2>Welcome to IEEE PUB Student Branch</h2>
            <p>IEEE AIUB Student Branch has championed as the largest Student Branch in Bangladesh Section for the past few years, boasting over 350+ members. With dozens of active members, dedicated volunteers, hard-working executives and supportive faculty members all bonded together as one, we are nothing short of a family. A family that continues to grow and expand with each passing day and one that we would be glad to have you as a part of. Please explore our site to learn more about our history, different committees, ventures and moments. We hope that you enjoy the tour!
            </p>

        </div>
    </div>
</div>

<div class="container_wrapper fix section1" style="">
    <div class="container_fixed fix">
        <div class="fix moving_bg_img">
            <h2>More informations</h2>
            <p>Being a trademark in both membership development and organizing professional and technical activities, on 1st December, 2018.Being a trademark in both membership development and organizing professional and technical activities, on 1st December, 2018.</p>
        </div>
    </div>
</div>

